<a href="https://colab.research.google.com/github/AzkaSatti123/AI-lab-1/blob/main/AI_Lab_2_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

q1:1.	Access List Items:
•	Create a list of fruits.
•	Print the first and last items of the list.

In [ ]:
fruits=["apple","strawberry","Kiwi","pomegranate","cherry","apricot"]
print(fruits[1])
print(fruits[-1])

strawberry
apricot

In [ ]:
q2:2.Change List Items:
•	Create a list of colors.
•	Change the second item in the list to "blue".

In [ ]:
colors=["red","purple","yellow","green","orange"]
colors[0]="blue"
print(colors)

['blue', 'purple', 'yellow', 'green', 'orange']

q3:add elements at the end of the list

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

q4:5.	Loop Lists:
•	Create a list of cities.
•	Loop through the list and print each city.

In [ ]:
animals=["Lion","Horse","Cat","Dog","Fish"]
animals.remove("Cat")
#we can remove the elements by specifying the element in the list
print(animals)
animals.pop(2)
#it removes w.r.t to indexes
print(animals)

['Lion', 'Horse', 'Dog', 'Fish']
['Lion', 'Horse', 'Fish']

q5:5.	Loop Lists:
•	Create a list of cities.
•	Loop through the list and print each city.

In [ ]:
numbers=[1,2,4,6,8]
mul_num=[]
for i in numbers:
  mul_num.append(i*2)

print(mul_num)

[2, 4, 8, 12, 16]

In [ ]:
cities=["Islamabad","Rawalpindi","Karachi","Multan","Fasilabad"]
for i in cities:
  print(i)

Islamabad
Rawalpindi
Karachi
Multan
Fasilabad

6.	List Comprehension:
•	Create a list of numbers from 1 to 10.
•	Use list comprehension to create a new list containing the square of each number.

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
squared_list=[]
for i in numbers:
  squared_list.append(i**2)

print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

7.	Sort Lists:
•	Create a list of names.
•	Sort the list alphabetically.

In [ ]:
names=["Fatima","Mustafa","Sana","Azka"]
names.sort()
print(names)

['Azka', 'Fatima', 'Mustafa', 'Sana']

8.	Copy Lists:
•	Create a list of fruits.
•	Copy the list into a new list.

In [ ]:
fruits=["apple","strawberry","Kiwi","pomegranate","cherry","apricot"]
fruits2=fruits
print(fruits2)

['apple', 'strawberry', 'Kiwi', 'pomegranate', 'cherry', 'apricot']

9.	Join Lists:
•	Create two lists of numbers.
•	Join the two lists into a single list.

In [ ]:
num1=[1,2,3,4,5]
num2=[6,7,8,9,10]
num3= num1 + num2
print(num3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

10.	List Methods:
•	Create a list of fruits.
•	Use the append() method to add a new fruit to the list.
•	Use the pop() method to remove the last fruit from the list.

In [ ]:
fruits=["apple","strawberry","Kiwi","pomegranate","cherry","apricot"]
fruits.append("bannana")
print(fruits)
fruits.pop(1)
print(fruits)

['apple', 'strawberry', 'Kiwi', 'pomegranate', 'cherry', 'apricot', 'bannana']
['apple', 'Kiwi', 'pomegranate', 'cherry', 'apricot', 'bannana']

11.	Combining Lists and List Comprehension:

•	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.
•	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [ ]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
list3=[x + y for x,y in zip(list1,list2)]
#here zip means it creats pair of each element in the list having same indexes and through which elements will be added thru pair form
print(list3)

[7, 9, 11, 13, 15]

In [ ]:
list=[1,2,3,4,5]
list2=["a","b","c"]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b', 'c']

12.	Filtering and Sorting:
Create a list of numbers.
•	Use list comprehension to create a new list containing only the even numbers from the original list.
•	Sort the new list in descending order.

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
list2=[i for i in list1 if i%2==0]
print(list2)
list2.sort(reverse=True)
print(list2)

[2, 4, 6, 8, 10]
[10, 8, 6, 4, 2]

13.13.	List Slicing and Reversing:
•	Create a list of numbers from 1 to 10.
•	Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [7]:
list1=[1,2,3,4,5,6,7,8,9,10]
print("list1",list1)
list2=[]
for i in list1:
   if i%2==0:
    list2.append(i)

list2.sort(reverse=True)
print("list2",list2)

list1 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 [10, 8, 6, 4, 2]

14.	Combining Lists and List Methods:
•	Create two lists, one containing even numbers and another containing odd numbers.
•	Use list methods to combine the two lists into a single list, alternating between even and odd numbers.

In [8]:
list1=[1,3,5,7,9]
list2=[2,4,6,8,10]
list3=list1+list2
print(list3)
list3.sort()
print(list3)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]